body {
	background-color: #eeeeee;
}

.container {
	margin: 0 auto;
}

.menu-container {
	height: 60px;
}

.menu {
	background-color: rgba(79, 38, 131, 0.95);
	position: fixed;
	width: 100%;
}

.menu-contents {
	display: -webkit-flex;
  	display: flex;

  	flex-direction: row;
	-webkit-flex-direction: row;

  	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap;
	
	-webkit-align-items: center;
	align-items: center;
}

.pancake, .prof-img {
	margin: 5px;
}

.pancake {
	z-index: 1;
	position: fixed;
	cursor: pointer;

	color: white;
  	font-size: 30px;
  	padding: 10px;
}

.clip-circle {
	height: 50px;
	width: auto;
	border-radius: 50%;
}

.prof-img {
	float: right;
	padding-left: 10px;
}

.course-title {
	color: white;
	font-family: "Lato";
	line-height: 60px;
	font-weight: 100;
	font-size: 30px;
}

.course-code {
	font-weight: 300;
}

.menu-filler {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.professor-info {
	color: white;
	font-family: "Lato";
	font-style: normal;
	font-weight: 100;
	text-align: right;
}

.professor-info li {
	margin-bottom: 2px
}

.professor-info li:last-child {
	margin-bottom: 0;
}

.professor-title, .professor-first-name, .professor-last-name {
	font-size: 18px;
}

.professor-last-name {
	font-weight: 300;
}

.email, .office {
	font-size: 13px;
}

.body-container {
	display: -webkit-flex;
  	display: flex;
	
	flex-direction: row;
	-webkit-flex-direction: row;

  	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap;
}

.sidebar {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.75);
	overflow-y: scroll; 

	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.sidebar::-webkit-scrollbar { 
	width: 0 !important
}

.sidebar-items li {
	border: 1px solid;
	border-bottom: none;
	border-color: #807F83;
	cursor: pointer;
}

.sidebar-items li:last-child {
	border-bottom: 1px solid;
	border-color: #807F83;
}

li.active-item {
	background-color: #4F2683;
}

.sidebar-items li a {
	color: #4F2683;
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	text-decoration: none;
	margin: 10px;
}

li.active-item a {
	color: white;
}

.contents {
	z-index: -1;
	position: absolute;
	left: auto;
}

.shade {
	position: fixed;

	width: 100%;
	height: 100%;
	background-color: black;
}

@media (min-width: 0px) {
	.lock {
		overflow: hidden;
	}
	.course-title {
		padding-left: 50px;
	}
	.course-name {
		display: none;
	}
	.professor-info {
		display: none;
	}
	.menu {
		left: 0;
		transition: left 0.2s ease-out;
	}
	.pancake {
		left: 0;
		transition: left 0.2s ease-out;
	}
	.shade {
		z-index: -1;
		opacity: 0;
		left: 0;
		transition: all 0.2s ease-out;
	}
	.sidebar {
		top:0;
		height: 100%;

		width: 80%;
		width: -webkit-calc(100% - 60px);
	    width: -moz-calc(100% - 60px);
	    width: calc(100% - 60px);

		left: 80%;
		left: -webkit-calc(-100% + 60px);
	    left: -moz-calc(-100% + 60px);
	    left: calc(-100% + 60px);
		transition: left 0.2s ease-out;
	}
	.contents {
		width: 100%;
		margin-left: 0;
		left:0;
		transition: left 0.2s ease-out;
	}
	.slide .shade {
		z-index: 1;
		opacity: 0.7;
		left: 80%;
		left: -webkit-calc(100% - 60px);
	    left: -moz-calc(100% - 60px);
	    left: calc(100% - 60px);
		transition: all 0.2s ease-in;
	}
	.slide .pancake {
		left: 80%;
		left: -webkit-calc(100% - 60px);
	    left: -moz-calc(100% - 60px);
	    left: calc(100% - 60px);
		transition: left 0.2s ease-in;
	}
	.slide .menu {
		left: 80%;
		left: -webkit-calc(100% - 60px);
	    left: -moz-calc(100% - 60px);
	    left: calc(100% - 60px);
		transition: left 0.2s ease-in;
	}
	.slide .sidebar {
		left: 0;
		transition: left 0.2s ease-in;
	}
	.slide .contents {
		left: 80%;
		left: -webkit-calc(100% - 60px);
	    left: -moz-calc(100% - 60px);
	    left: calc(100% - 60px);
		transition: left 0.2s ease-in;
	}
}
@media (min-width: 450px) {
	.sidebar {
		width: 400px;
		left: -400px;
	}
	.slide .shade {
		left: 400px;
	}
	.slide .pancake {
		left: 400px;
	}
	.slide .menu {
		left: 400px;
	}
	.slide .contents {
		left: 400px;
	}
}
@media (min-width: 768px) {
	.course-name {
		display: inline;
	}
	.course-title {
		padding-left: 90px;
	}
}
@media (min-width: 992px) {
	body {
		background-image: url("../artwork/bigshield.gif");
		background-position-x: 90%;
	  	background-repeat: no-repeat;
	}
	.lock {
		overflow: auto;
	}
	.container {
		width: 992px;
	}
	.pancake {
		display: none;
		left: -60px;
	}
	.course-title {
		padding-left: 0;
	}
	.professor-info {
		display: inline;
	}
	.sidebar {
		height: auto;
		width: 230px;
		left: auto;
		top: auto;
		margin: 20px 0;
	}
	.contents {
		width: 742;
		margin-left: 250px;
		position: initial;
		left: auto;
	}
	.shade {
		display: none;
	}
	.slide .menu {
		left: auto;
	}
	.slide .sidebar {
		left: auto;
	}
	.slide .contents{
		left: auto;
	}
	.slide .shade {
		display: none;
		left: auto;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
	.sidebar {
		width: 280px;
	}
	.contents {
		width: 900;
		margin-left: 300px;
	}
}
