body {
	background-color: #eeeeee;
}

.container {
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-filler {
	flex-grow: 7;
}

.header-filler-2 {
	flex-grow: 3;
}

.professor {
	background-color: #4F2683;
}

.prof-img {
	padding: 30px 0;
}

.clip-circle {
	height: 280px;
	width: auto;

	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}

.professor-info {
	color: white;
	font-family: "Lato";
	text-align: center;
}

.professor-title, .professor-first-name, .professor-last-name {
	font-size: 60px;
	font-style: normal;
}

.professor-title {
	font-weight: 100;
}

.professor-first-name {
	font-weight: 100;
}

.professor-last-name {
	font-weight: 300;
}

.professor-position {
	color: #807F83;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	margin-bottom: 20px;
}

.table-center {
	margin: 0 auto;
}

.info-field {
	color: white;
	text-align: right;
	font-weight: 100;
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	padding-right: 20px;
}

.email, .tel, .fax, .office {
	color: white;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
}

.menu-bar {
	max-height: 60px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
	background-color: #807F83;
}

.menu-bar:hover, .menu-bar.expanded {
	max-height: 600px;
	transition: max-height 0.3s ease-in;
	cursor: pointer;
}


.navigation {
	display: flex;
}

.arrow {
	position: absolute;
  	right: 10px;
	margin-top: 20px;
	height: 20;
	width: auto;
	transition: all 0.2s linear;
}

.navigation li a{
	font-family: "Lato";
	height: 50px;
	color: white;
	text-decoration: none;
	font-size: 25px;
	line-height: 60px;
	font-weight: 100;
	padding: 10px 20px;
}

.navigation li a:hover {
	color: #4F2683;
	font-weight: 200;
}

.box {
	background-color: rgba(255, 255, 255, 0.65);
	border: 1px solid;
	border-color: #807F83;
	margin: 20px 0;
}

.box-header {
	font-family: "Lato";
	height: 40px;
	color: white;
	font-size: 30px;
	line-height: 40px;
	font-weight: 200;
	background-color: #4F2683;
	padding: 10px;
}

.box-content {
	font-family: "Lato";
	font-size: 18px;
	padding: 30px;	
	font-weight: 300;
	line-height: 20px;
}

@media (min-width: 0px) {
	.header, .navigation {
		flex-flow: column wrap;
	}
	.professor-info {
		padding-bottom: 40px;
	}
	.navigation li {
		margin: 0 auto;
		border-bottom: 1px solid;
		border-color: white;
	}
	.menu-bar:hover .arrow, .menu-bar.expanded .arrow{
		-moz-transform:rotate(180deg);
	    -webkit-transform:rotate(180deg);
	    -o-transform:rotate(180deg);
	    transform:rotate(180deg)
		transition: all 0.2s linear;
	}

	.navigation li:last-child {
		border-bottom: none;
	}
}
@media (min-width: 992px) {
	body {
		background-image: url("../artwork/bigshield.gif");
		background-position-x: 90%;
	  	background-position-y: 50%;
	  	background-repeat: no-repeat;
	}
	.container {
		width: 992px;
	}
	.header, .navigation {
		flex-flow: row wrap;
	}
	.professor-info {
		padding-bottom: 0;
	}
	.arrow {
		display: none;
	}
	.navigation li {
		position: relative;
		margin: 0;
		border-bottom: none;
	}
	.navigation li.active-tab::before {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: #4F2683;
		content: '';
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
