.menu-bar.expanded {
	max-height: 600px;
	transition: max-height 0.2s ease-in;
	cursor: pointer;
}

@media (min-width: 0px) {
	.menu-bar.expanded .arrow {
		-moz-transform:rotate(180deg);
	    -webkit-transform:rotate(180deg);
	    -o-transform:rotate(180deg);
	    transform:rotate(180deg)
		transition: all 0.2s linear;
	}
}